@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: auto;
    text-align: center;
    background-color: #222A59;
    color: #D9ADA9;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    min-height: 100%;
}
main{
    min-height: 100dvh;
}
a{
    color: #D9ADA9;
    text-decoration: none;
}
img{
    border: 2px solid #2A8C82
}
fieldset{
   background-color: #400D1A;
}
form{
    margin: auto;
    padding: 10px;
    min-height: 100%;
}
.dados{
    background-color: #73122C;
    text-align:left;
    width: 50%;
    padding: 5px;
}
.div01{
    padding: 10px;
    flex: 1;
    gap: 5px;
    display: flex;
}
div{
    margin: 5px;
}
header{
    border: 2px solid #D9ADA9;
}
h1,h2{
    color:  #BFA26B;
}
a:hover{
    text-decoration: underline;
    background-color: #2A8C82;
    color:#400D1A
}
footer{
    border: 1px solid black;
    background-color: #73122c91;
}